.header{
    margin: auto;
    width: 1200px;
    height: 500px;
    background-image: url(./img/header.webp);
    background-color: #ccc;
    opacity: 95%;
    background-blend-mode: multiply;
}
/* .nav-block{
    width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
} */
.logo{
    width: 360px;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.logo-img{
    width: 100px;
    display: flex;
    justify-content: flex-end;
}
.logo-img img{
    height: 100%;
}
.logo-right{
    width: 220px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
    margin-left: 20px;
}
.logo-right span{
    align-self: center;
}
.logo-right span:nth-child(2){
    font-size: 12px;
}
.header nav{
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.header nav div{
    margin: 10px;
}
.nav-link{
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.nav-link:hover{
    color: slategray;
}
.mid-block{
    width: 1200px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.mid-block section{
    width: 1000px;
    margin: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.banner-middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.banner-middle h1{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}
.banner-middle span{
    font-size: 20px;
}
.banner-middle div{
    background-color:cornflowerblue;
    opacity: 90%;
    align-self: center;
    border-radius: 3px;
}
.mid-block div img{
    height: 20%;
    margin-left: 0;
    margin-right: auto;
    display: block;
}
/* .bottom-block{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
} */

.banner-bottom{
    margin: auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.link{
    width: 260px;
    margin: 20px;
    display: flex;
    flex-flow: wrap column;
}
.link a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: cornflowerblue;
    opacity: 90%;
}
.link a:hover{
    color: #aaf;
}
.banner-link1{
    align-self: flex-end;
}
.banner-link2{
    align-self: center;
}
.banner-link3{
    align-self: flex-start;
}

/* .bottom-block div span{
    color: whitesmoke; 
    font-weight: bold;
} */
.wrap{
    margin: auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
}
.info-section{
    width: 410px;
    margin: 25px;
    padding: 70px;
}
.info-section h1{
    font-size: 28px;
}
.four-column-section{
    width: 220px;
    margin: 30px;
    padding: 10px;
    text-align: center;
}
.four-column-section ul{
    font-size: 14px;
    text-align: left;
}
.double-images{
    height: 40%;
}
.double-images img{
    margin: 20px;
}
.img-size img{
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.divider{
    width: 100%;
    background-color: rgb(4, 81, 132);
    opacity: 90%;
    background-image: url(/BuildSchool切版/img/asset\ 16.webp);
    background-blend-mode: multiply;
}
.divider h1{
    /* width: 100%; */
    text-align: center;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: white;
}
.references{
    width: 260px;
    margin: 20px;
}
.references img{
    height: 80%; 
    margin-left: auto;
    margin-right: auto; 
    display: block;
    margin-top: 3%;
}
footer{
    margin: auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    border-top: 3px solid brown;
}
.footer{    
    width: 300px;
    margin-left: 150px;
}
.footer h1, p{
    margin: 0;
    text-align: left;
}
.footer div{
    margin-top: 20px;
    font-size: 12px;
}
.footer div p{
    margin: 5px;
}
.img-center{
    height: 40%; 
    margin-left: auto;
    margin-right: auto; 
    display: block;
    margin-top: 20px;
}